{% extends 'base.html' %}
{% block content %}
    
    {% if username and username != None %}
    <h1 class="mt-5">{{ username['name']}}</h1>
      	<ul id="display_user">
	        <li>
	        	Nom : {{ username['name'] }}
	    	</li></br>

	        <li>
	        	Date de naissance : {{ username['birth'] }}
	    	</li></br>
	        <li>
	        	Sexe : {{ username['gender']}}
	    	</li></br>
    	</ul>
    {% elif trouve%}
	    	<h1 class="mt-5">Recherche</h1>
	    		<p> Looking for user "{{ search }}" : <p>
	    		{% if trouve!= None %}
	    		<li>
		        	<a href="users/{{ search }}"> {{ search }}</a> 
		        </li>
		        {% endif %}
    {% else %}
    	<h1 class="mt-5">Users</h1>

    	<ul id="User_names">
		    {% for item in dic_user %}
		        <li>
		        	<a href="users/{{ item['name'] }}"> {{ item['name'] }}, {{ item['birth'] }},  {{ item['gender']}}</a> 
		        </li>
		    {% endfor %}
    	</ul>
	{% endif %}
{% endblock %}
